.selectedProductCategorys {
  width: 1566px;
  margin: auto;
  border: 2px solid blue;

  // min-height: 100vh;
  box-sizing: border-box;
  .title {
    display: flex;

    justify-content: end;
    font-size: 30px;
  }

  .subcategoriesContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    .subcategories {
      img {
        width: 100%;
        height: 450px;
        object-fit: cover;
      }
    }
  }
}
