.banner {
  background: linear-gradient(180deg, #0c0c1d, #111132);
  height: 100%;

  color: white;

  .bannerContainer {
    max-width: 1366px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .bannerTitle {
      text-align: center;

      h4 {
        color: rgb(255, 255, 255);

        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.8px;

        margin-bottom: 65px;
        font-family: "Instrument Sans" !important;
      }
      h1 {
        color: rgb(255, 255, 255);
        text-align: center;
        font-family: "Ivy Mode";
        font-size: 150px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: -6px;
        margin-bottom: 65px;
      }
    }
  }
}
